Package: setup-plugin
Section: plugins
Priority: optional
Version: 0.05-1
Architecture: dreambox
Maintainer: Ronaldd <Ronaldd@sat4all.com>
Depends: emud
Description: Ronald'd setup plugin for DM7020
Source: http://developer.berlios.de/projects/tuxbox-addons/
